.horizontalFormFlex
{
    display: flex;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.gridElementDiv
{
    height: 240px;
}

.whitespace
{
    width: 2%;
}

.boxes
{
    width: 100%;
    background-color:lightgray;
    border-radius: 10px;
    height: 550px;
}

.cameraImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-top: 10px;
}

.uploadPictureText
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fillFormText
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    font-size: x-large;
}

.formGrid
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: -25px;
    margin-left: 20px;
}

.formHeaderText
{
    font-family: Arial, sans-serif, helvetica;
    font-size: large;
}
.formLabelText
{
    font-family: Arial, sans-serif, helvetica;
    font-size: medium;
    margin-bottom: 50px;
}
.maxCharsText
{
    font-family: Arial, sans-serif, helvetica;
    font-size: small;
    color: gray;
    font-weight: bold;
}

.uploadImageBox
{
    margin-left: 10px;
}
.submitButton
{
    display: block;
    font-family: Arial, sans-serif, helvetica;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    width: 20%;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    border: none;
    background-color: darkolivegreen;
}
.submitButton:hover
{
    background-color: darkgreen;
}
.failedHeader
{
    color: darkred;
    font-family: Arial, sans-serif, helvetica;
    font-weight: bold;
    font-size: large;
}

.errorMessage
{

    font-family: Arial, sans-serif, helvetica;
    font-size: medium;
    margin-bottom: 10px;
}

.errorBox
{
    text-align: center;
}
