.horizontalHeaderContainer
{
    display: flex;
    margin: 10px;
    background: darkolivegreen;
    border-radius: 15px;

}
.pawText
{
    font-size: XX-large;
    background-image: linear-gradient(-45deg, plum,white);
    color: transparent;
    background-clip: text;

}


.headerLinks
{
    margin-left: 30px;
    font-size: x-large;
    font-family: verdana, sans-serif, helvetica;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.headerLogo
{
    height: 70px;
    width: 70px;
    horiz-align: center;
    vertical-align: center;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.headerName