.FlexContainer
{
    display: flex;
    justify-content: center;
    gap:3%;
    margin-right: 20px;
    margin-left: 20px;
}

.HomepageImageLinks
{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
}


.ImageContainer {
    position: relative;  /* makes the text position relative to this container */
    display: inline-block;
    margin: 10px;
}

.OverlayText
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: verdana;
}