body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    text-align: center;
}


.ShowMoreButton {
    display: block;
    margin: 10px auto 0;
    padding: 8px 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
}

.successBox {
    text-align: center;
}

.successText
{
    font-size: large;
    color: forestgreen;
    font-family: Arial, sans-serif, helvetica;
    font-weight: bold;
}

.ListingsContainer
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 10px;
}

.petBox
{
    background: lightgray;
    border-radius: 10px;
}

.ButtonsGrid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.PetName{
    font-family: Arial, sans-serif, helvetica;
    font-weight: bold;
    font-size: xx-large;
}

.PetActionButton
{
    display: block;
    font-family: Arial, sans-serif, helvetica;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    background-color: darkolivegreen;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.PetActionButton:hover
{
    background-color: darkgreen;
}

.PetImage{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 500px;
}
